<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Vue demo</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    
    <div id="checkboxBox" class="col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">
        <template v-for="(item,index) in items">
            <input type="checkbox" :id="index" :value="item.name" v-model="checked">
            <label :for="index" v-if="checked.indexOf(item.name) > -1">{{item.name}}</label>
            <label :for="index" v-else>猜猜我是谁</label>
            <br>
        </template>
    </div>
   
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script> -->
    <script src="main.js"></script>
</body>
</html>